.side-menu-open {
  left: 0;
  animation: menu-open 1s ease-in-out;
}

.side-menu-close {
  left: -140px;
  animation: menu-close 1s ease-in-out;
}

@keyframes menu-open {
  from {
    left: -140px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes menu-close {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -140px;
    opacity: 0;
  }
}
